@keyframes circleAnimation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dashAnimation {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%, to {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

.loading-spinner g {
  transform-origin: center;
  animation: circleAnimation 2s linear infinite;
}

.loading-spinner g circle {
  stroke-linecap: round;
  animation: dashAnimation 1.5s ease-in-out infinite;
}

